@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

.Dashboard {
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #F1F4F8;
}
*{
  margin: 0;
  padding: 0;
}
