/* Dashboard Right Section Begin */

.DisplayCards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    /* width: 1135px;
    height: 298px; */
    
    left: 311px;
    top: 57px;
}

.DisplayCards .top {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 626px;

    width: 1135px;
    height: 44px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.DisplayCards .top .title {
    width: 241px;
    height: 24px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    /* identical to box height, or 75% */

    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #1E1E1E;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.DisplayCards .top .button {
object-position: right top;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;

    width: 256px;
    height: 44px;

    /* Purple */

    background: #793EF5;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.DisplayCards .top .button .text {
    width: 194px;
    height: 20px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;

    color: #FFFFFF;
}

.DisplayCards .bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 750px;
    height: 222px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Dashboard Right Section End */

/* DASHBOARD END */