.container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }

  .left-container{
    display: flex;
    flex: 1;
    background-color: #793ef5;
    height: 100vh;
  }
  
  .right-container {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding-left: 9px;
    padding-right: 9px;
  }
  
  .logo-image {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 172px;
    padding-top: 20px;
    object-fit: cover;
  }
  
  .header-text {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Space Grotesk';
    line-height: 24px;
    color: #1e1e1e;
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 150px;
  }

  .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding-left: 9px;
    padding-right: 9px;
  }
  
  .input-container {
    border-radius: 16px;
    background-color: #f5f5f7;
    border: 1px solid #cecece;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 5%;
    padding-left: 16px;
    margin-left: 4px;
    margin-bottom: 12px;
  }
  
  .input-icon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
  }

  .pwreveal-icon {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
    padding-right: 10px;
  }
  
  .text-input {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Space Grotesk';
    line-height: 24px;
    color: rgba(47, 48, 49, 0.54);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 9px;
    margin-top: 1px;
    border: none;
    background-color: #f5f5f7;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 85%;
  }
  
  .options-container {
    width: 52%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 4px;
    margin-bottom: 22px;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    object-fit: cover;
    align-self: center;
    margin-right: 10px;
  }
  
  .remember-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Space Grotesk';
    line-height: 24px;
    color: #828282;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-self: center;
    margin-top: 1px;
    margin-right: 32px;
  }
  
  .link-text {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Space Grotesk';
    line-height: 24px;
    color: #793ef5;
  }
  
  .button {
    border-radius: 16px;
    border-color: #793ef5;
    background-color: #793ef5;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* Button Text */
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Space Grotesk';
    line-height: 20px;
    color: #ffffff;
    margin-top: 1px;
  }

  .button:hover {
    background-color: #6b28d9;
  }

  .link-text:hover {
    color: #828282;
  }

  /* Keeps autocomplete from changing background color of text input */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f5f5f7 inset !important;
    box-shadow: 0 0 0 30px #f5f5f7 inset !important;
  }

  @media screen and (min-width: 640px) {
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .left {
        display: block;
        background-color: #793ef5;
    }
}