.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    display: flex;
    flex: 1;
    background-color: #793ef5;
}

.right {
    display: flex;
    flex: 1;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin {
    padding: 1rem;
    width: 60%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.logoImage {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 50px;
}

.logo {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    align-self: flex-start;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
}

.label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.input {
    /* Text field */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 360px;
    height: 48px;

    /* Base/Secondary */

    background: #F5F5F7;
    /* Field Stroke */

    border: 1px solid #CECECE;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    /* Input Text */
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: rgba(47, 48, 49, 0.54);
}

.pwText {
    border: none;
    width: 146px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75rem;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;
    /* Purple */
    color: #793EF5;
    background-color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.pwText:hover {
    text-decoration: underline;
}

.button {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: #4f46e5;
    color: #ffffff;
    width: 50%;
    border-width: 1px;

    /* Auto layout */
    align-items: center;
    padding: 10px 16px;
    gap: 29px;

    width: 360px;
    height: 48px;

    /* Purple */

    background: #793EF5;
    border-radius: 16px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;

    color: #FFFFFF;
}

.button:hover {
    background-color: #6b28d9;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.label2 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 4rem;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: 'Space Grotesk';
    font-style: normal;
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;
    /* Gray 3 */
    color: #828282;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.underline {
    padding-top: 0.95rem;
    padding-bottom: 0.25rem;
    width: 146px;
    height: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75rem;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.4px;
    font-feature-settings: 'liga' off;
    /* Purple */
    color: #793EF5;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (min-width: 640px) {
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .left {
        display: block;
        background-color: #793ef5;
    }
}